p.thicker{
  font-weight: bold;
}

p.list{
  margin-bottom: 0;
  font-weight: bolder;
}

.w3-container.w3-white{
  height: 245px;
}

.w3-btn{
  margin-left: 55px;
}

.card{
  margin-left: 50px;
  margin-top: 30px;
}